name: release

on:
  push:
    tags: [ "v*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'zulu'
        cache: 'maven'
    - run: gpg --batch --yes --passphrase=${{ secrets.GPG_PASSPHRASE }} --output - scripts/keys.asc | gpg --batch --yes --import
    - run: >-
        ./scripts/release.py
        --gpg-key ${{ secrets.GPG_KEY }}
        --gpg-passphrase ${{ secrets.GPG_PASSPHRASE }}
        --maven-username ${{ secrets.OSSRH_USERNAME }}
        --maven-password ${{ secrets.OSSRH_PASSWORD }}
